<font color='blue'>Привет! Поздравляю с первой выполненой работой в области DataScience. Ты молодец. Давай теперь посмотрим что и как  твоей работе. Мои комментарии будут выделяться поднобным образом. Если, вдруг, работа займёт несколько итераций, не удаляй мои комментарии. Ну что, поехали!!!</font>

## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [2]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')
print (data.head(10))
print(data.info())

   children  days_employed  dob_years education  education_id  \
0         1   -8437.673028         42    высшее             0
1         1   -4024.803754         36   среднее             1
2         0   -5623.422610         33   Среднее             1
3         3   -4124.747207         32   среднее             1
4         0  340266.072047         53   среднее             1
5         0    -926.185831         27    высшее             0
6         0   -2879.202052         43    высшее             0
7         0    -152.779569         50   СРЕДНЕЕ             1
8         2   -6929.865299         35    ВЫСШЕЕ             0
9         0   -2188.756445         41   среднее             1

      family_status  family_status_id gender income_type  debt   total_income  \
0   женат / замужем                 0      F   сотрудник     0  253875.639453
1   женат / замужем                 0      F   сотрудник     0  112080.014102
2   женат / замужем                 0      M   сотрудник     0  145885.952297
3   женат / замужем                 0      M   сотрудник     0  267628.550329
4  гражданский брак                 1      F   пенсионер     0  158616.077870
5  гражданский брак                 1      M   компаньон     0  255763.565419
6   женат / замужем                 0      F   компаньон     0  240525.971920
7   женат / замужем                 0      M   сотрудник     0  135823.934197
8  гражданский брак                 1      F   сотрудник     0   95856.832424
9   женат / замужем                 0      M   сотрудник     0  144425.938277

                      purpose
0               покупка жилья
1     приобретение автомобиля
2               покупка жилья
3  дополнительное образование
4             сыграть свадьбу
5               покупка жилья
6           операции с жильем
7                 образование
8       на проведение свадьбы
9     покупка жилья для семьи
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

### Вывод

В датасет наблюдается 12 столбцов и 21525 строк. На первый взгляд существуют ни коректные наблюдении в стольбце "Стаж работы", отрицательные значения, так ж в стольбце 'days_employed' и 'total_income' меньше количество наблюдений, что наводит на мысл о том что именно в этих столбцах есть пропушеные значения, которые предстоит анализировать и принимать решения об их удаления или заполнения.

<font color='blue'>Отлично, хорошее начало. Первичный анализ есть. Единственное, лучше на датасет смотреть через head(), он покрасивше.</font>

### Шаг 2. Предобработка данных

In [ ]:

   


part_nan_days_employed = data_nan['days_employed'] / len(data) 
part_nan_income = data_nan['total_income'] / len(data)
print('Доля пропушеных строк в столбце "стаж работы": {:.1%}'.format(part_nan_days_employed)) 
print('Доля пропушеных строк в столбце "доход": {:.1%}'.format(part_nan_income))
print()


print('Прверка совпадения индексов в столбцах days_employed и total_income')
Nan_days_employed = pd.isnull(data['days_employed'])
Nan_total_income = pd.isnull(data['total_income'])
print((data[Nan_days_employed].index == data[Nan_total_income].index).all())
print()

negative_days_employed = data[data['days_employed'] <= 0]
extra_days_employed = data[data['days_employed'] >= 50*365]
print('Количество отрицательных строк в столбце стажа работы:{:.1f}'.format(len(negative_days_employed['days_employed'])))
print('Максимальное отрицательное значение в столбце стажа работы::{:.2f}'.format(negative_days_employed['days_employed'].max()))
print('Минимальное отрицательное значение в столбце стажа работы::{:.2f}'.format(negative_days_employed['days_employed'].min()))
print('Средное отрицательное значение в столбце стажа работы::{:.2f}'.format(negative_days_employed['days_employed'].mean()))
print(len(extra_days_employed))

<font color='blue'>Хорошо. Но лучше для коментариев использовать ячейку Markdown. Она специально для этого придумана. Ну и практика такая ячейка с кодом - ячейка с комментарием.

<font color='green'> Посчитаем количество NaN и выводим на экран.
    Посчитаем доля пропушеных строк в столбцах 'days_employed' и 'total_icome' и выводим на экран в порцентным соотношении
Количество и доля пропущеных строк в столбцах 'days_employed' и 'total_income' большое- 10% и они совпадают, то что наводит 
на мысл что эти наблюдения неслучайные а пропушенное значение означает что человек не работает и соответсвено не имеет
источник дохода. Чтобы преверть гипотезу рассмотрим совпадают ли индекси во всех строка
    Все индексы совпадают, соответсвенно гипотезу подтвеждается а следователно заменяем на значения средное значения.
    
Доля пропушеных строк в столбце "стаж работы": 10.1%
Доля пропушеных строк в столбце "доход": 10.1%

Прверка совпадения индексов в столбцах days_employed и total_income

Количество отрицательных строк в столбце стажа работы:15906.0
Максимальное отрицательное значение в столбце стажа работы::-24.14
Минимальное отрицательное значение в столбце стажа работы::-18388.95
Средное отрицательное значение в столбце стажа работы::-2353.02. </font>

### Обработка пропусков

In [68]:
mean_days_employed = data['days_employed'].mean()
mean_total_income = data['total_income'].mean()

data['days_employed'] = data['days_employed'].fillna(value = mean_days_employed)
data['total_income'] = data['total_income'].fillna(value= mean_total_income)
print(data.isna().sum())

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Вывод

Количество и доля пропущеных строк в столбцах 'days_employed' и 'total_income' большое- 10% и они совпадают, то что наводит 
на мысл что эти наблюдения неслучайные а пропушенное значение означает что человек не работает и соответсвено не имеет
источник дохода. Чтобы проверть гипотезу рассмотрим совпадают ли индекси во всех строка. По сколько все индексы совпадают, соответсвенно гипотезу подтвеждается а следователно заменяем на значения "0".

<font color='blue'>Заполнение нулями не очень хорошее решение. Изменит моду распределения и поведет весь анализ. Лучше заполнить средним или медианным значением. </font>

<font color='green'>Заполнил средным значением. </font>

### Замена типа данных

In [69]:
data['days_employed'] = data['days_employed'].astype('int')
data['total_income'] = data['total_income'].astype('int')

### Вывод

Вещественные числа в столбцах 'days_employed' и 'total_income', переводим в целовых типа 'int' c с помощью метода astype()

### Обработка дубликатов

In [70]:
duplicated_education = data['education'].value_counts()
print(duplicated_education)
print()

data['family_status'] = data['family_status'].str.lower()
print(data['family_status'].value_counts())
print()

print(data['gender'].value_counts()) 
print()

print(data['income_type'].value_counts())
print()

print(data['purpose'].value_counts())
print()


data['education_lower'] = data['education'].str.lower()
print(data['education_lower'].value_counts())
print()

data.drop_duplicates().reset_index(drop=True)

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
Name: education, dtype: int64

женат / замужем          12380
гражданский брак          4177
не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
предприниматель        2
безработный            2
студент                1
в декрете              1
Name: income_type, dtype: int64

свадьба                                   797
на проведение свадьбы                     777
сыграть свадьбу                           774
операции с недвижимостью                  676
покупка коммерческой недвижимости         664
покупка жилья для сдачи                   653
операции с жильем                         653
операции с коммерческой недвижимостью     651
жилье                                     647
покупка жилья                             647
покупка жилья для семьи                   641
строительство собственной недвижимости    635
недвижимость                              634
операции со своей недвижимостью           630
строительство жилой недвижимости          626
покупка недвижимости                      624
покупка своего жилья                      620
строительство недвижимости                620
ремонт жилью                              612
покупка жилой недвижимости                607
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                495
сделка с подержанным автомобилем          489
свой автомобиль                           480
на покупку подержанного автомобиля        479
автомобили                                478
на покупку автомобиля                     472
дополнительное образование                462
приобретение автомобиля                   462
сделка с автомобилем                      455
высшее образование                        453
образование                               447
получение дополнительного образования     447
получение образования                     443
профильное образование                    436
получение высшего образования             426
заняться образованием                     412
Name: purpose, dtype: int64

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education_lower, dtype: int64

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,education_lower
0,1,-8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,высшее
1,1,-4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,среднее
2,0,-5623,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,среднее
3,3,-4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,среднее
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,среднее
5,0,-926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,высшее
6,0,-2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,высшее
7,0,-152,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823,образование,среднее
8,2,-6929,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,высшее
9,0,-2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,среднее
10,2,-4171,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,высшее
11,0,-792,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,среднее
12,0,63046,65,среднее,1,гражданский брак,1,M,пенсионер,0,167422,сыграть свадьбу,среднее
13,0,-1846,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,неоконченное высшее
14,0,-1844,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,высшее
15,1,-972,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,среднее
16,0,-1719,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,среднее
17,0,-2369,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,высшее
18,0,400281,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,среднее
19,0,-10038,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,среднее
20,1,-1311,36,среднее,1,женат / замужем,0,M,сотрудник,0,209552,недвижимость,среднее
21,1,-253,33,среднее,1,гражданский брак,1,F,сотрудник,0,131812,приобретение автомобиля,среднее
22,1,-1766,24,среднее,1,гражданский брак,1,F,сотрудник,0,149681,на покупку подержанного автомобиля,среднее
23,0,-272,21,высшее,0,гражданский брак,1,M,сотрудник,0,128265,сыграть свадьбу,высшее
24,1,338551,57,среднее,1,не женат / не замужем,4,F,пенсионер,0,290547,операции с коммерческой недвижимостью,среднее
25,0,363548,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112,покупка недвижимости,среднее
26,0,63046,41,среднее,1,женат / замужем,0,M,госслужащий,0,167422,образование,среднее
27,0,-529,28,высшее,0,женат / замужем,0,M,сотрудник,0,308848,строительство собственной недвижимости,высшее
28,1,-717,26,высшее,0,женат / замужем,0,F,сотрудник,0,187863,строительство собственной недвижимости,высшее
29,0,63046,63,среднее,1,не женат / не замужем,4,F,пенсионер,0,167422,строительство жилой недвижимости,среднее
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21441,1,63046,50,среднее,1,гражданский брак,1,F,сотрудник,0,167422,свадьба,среднее
21442,1,-759,31,среднее,1,женат / замужем,0,F,сотрудник,0,119392,на покупку автомобиля,среднее
21443,0,63046,48,ВЫСШЕЕ,0,женат / замужем,0,F,компаньон,0,167422,строительство недвижимости,высшее
21444,1,-1330,32,среднее,1,гражданский брак,1,M,сотрудник,0,240767,сыграть свадьбу,среднее
21445,0,-9929,57,среднее,1,гражданский брак,1,M,компаньон,0,157553,свадьба,среднее
21446,0,-578,26,неоконченное высшее,2,не женат / не замужем,4,M,компаньон,0,77813,операции с коммерческой недвижимостью,неоконченное высшее
21447,0,334343,57,среднее,1,женат / замужем,0,F,пенсионер,0,86232,жилье,среднее
21448,1,63046,42,среднее,1,женат / замужем,0,F,сотрудник,0,167422,строительство жилой недвижимости,среднее
21449,0,-3096,58,среднее,1,женат / замужем,0,F,сотрудник,0,264250,заняться образованием,среднее
21450,0,355235,68,среднее,1,женат / замужем,0,F,пенсионер,0,80566,дополнительное образование,среднее
21451,0,338904,53,среднее,1,гражданский брак,1,M,пенсионер,0,75439,сыграть свадьбу,среднее
21452,1,-1556,33,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,145541,свадьба,высшее
21453,1,-79,32,среднее,1,гражданский брак,1,F,госслужащий,0,98180,сделка с подержанным автомобилем,среднее
21454,0,386497,62,среднее,1,женат / замужем,0,M,пенсионер,0,72638,недвижимость,среднее
21455,0,362161,59,высшее,0,женат / замужем,0,M,пенсионер,0,73029,операции с недвижимостью,высшее
21456,2,63046,28,среднее,1,женат / замужем,0,F,сотрудник,0,167422,приобретение автомобиля,среднее
21457,0,-612,29,высшее,0,гражданский брак,1,F,сотрудник,1,140068,покупка жилья для сдачи,высшее
21458,0,-165,26,высшее,0,не женат / не замужем,4,M,компаньон,0,147301,получение дополнительного образования,высшее
21459,0,-1166,35,среднее,1,женат / замужем,0,F,сотрудник,0,250986,покупка жилья,среднее
21460,0,-280,27,неоконченное высшее,2,не женат / не замужем,4,M,компаньон,0,355988,строительство недвижимости,неоконченное высшее
21461,1,-467,28,среднее,1,женат / замужем,0,F,сотрудник,1,109486,заняться образованием,среднее
21462,0,-914,42,высшее,0,женат / замужем,0,F,компаньон,0,322807,покупка своего жилья,высшее
21463,0,-404,42,высшее,0,гражданский брак,1,F,компаньон,0,178059,на покупку своего автомобиля,высшее
21464,0,373995,59,СРЕДНЕЕ,1,женат / замужем,0,F,пенсионер,0,153864,сделка с автомобилем,среднее
21465,1,-2351,37,ученая степень,4,в разводе,3,M,сотрудник,0,115949,покупка коммерческой недвижимости,ученая степень
21466,1,-4529,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,среднее
21467,0,343937,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,среднее
21468,1,-2113,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,среднее
21469,3,-3112,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,среднее
21470,2,-1984,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,среднее

### Вывод

Поиск дубликатов проводилось методом value_count().  В результате проверки выявленых дубликато в столбце "образование". Обработка дупликатов методом str.lower() и выведен на экран результат. Возможная причина появление дубликатов - разнные операторы вводили данные.

<font color='blue'>Ну хорошо, дубликаты ты нашёл. И даже сделал работу по стандартизации значений. А почему не удалил то дубликаты? ДАвай эту часть доделай. К сожалению это приведет к переделки дальнейшей работы.</font>

<font color='green'> Удалял дублткаты в столбце образование до стандаризаций значени а после того произвел стандаризации. Не видел большую разницу. Я не удалял до этого потому что мне касадлсь что в столбце образование есть только просто плохо введены данных.

<font color="blue"> drop_duplicate лучше применять ко всему датафрему в самом  конце блока, не к отдельным колонкам. Механика удаления дубликатов - мы удаляем одинаковые строчки в DataFrame. При этом смотрим на суть значений, для этого и приводим к одному регистру.Так что тут надо будет переделать еще раз, к сожалению.

<font color='green'> Я понял свою ощибку. Применял drop_duplicate  к всему датафрейму и переформатировал индексы.

### Лемматизация

In [71]:

from pymystem3 import Mystem
m = Mystem()

data['purpose_lemmas'] = data['purpose'].apply(m.lemmatize)
print(data['purpose_lemmas'].head())   

print(data['purpose_lemmas'].value_counts())

0                 [покупка,  , жилье, \n]
1       [приобретение,  , автомобиль, \n]
2                 [покупка,  , жилье, \n]
3    [дополнительный,  , образование, \n]
4               [сыграть,  , свадьба, \n]
Name: purpose_lemmas, dtype: object
[автомобиль, \n]                                          973
[свадьба, \n]                                             797
[на,  , проведение,  , свадьба, \n]                       777
[сыграть,  , свадьба, \n]                                 774
[операция,  , с,  , недвижимость, \n]                     676
[покупка,  , коммерческий,  , недвижимость, \n]           664
[операция,  , с,  , жилье, \n]                            653
[покупка,  , жилье,  , для,  , сдача, \n]                 653
[операция,  , с,  , коммерческий,  , недвижимость, \n]    651
[покупка,  , жилье, \n]                                   647
[жилье, \n]                                               647
[покупка,  , жилье,  , для,  , семья, \n]                 641
[строительство,  , собственный,  , недвижимость, \n]      635
[недвижимость, \n]                                        634
[операция,  , со,  , свой,  , недвижимость, \n]           630
[строительство,  , жилой,  , недвижимость, \n]            626
[покупка,  , недвижимость, \n]                            624
[строительство,  , недвижимость, \n]                      620
[покупка,  , свой,  , жилье, \n]                          620
[ремонт,  , жилье, \n]                                    612
[покупка,  , жилой,  , недвижимость, \n]                  607
[на,  , покупка,  , свой,  , автомобиль, \n]              505
[заниматься,  , высокий,  , образование, \n]              496
[сделка,  , с,  , подержанный,  , автомобиль, \n]         489
[свой,  , автомобиль, \n]                                 480
[на,  , покупка,  , подержать,  , автомобиль, \n]         479
[на,  , покупка,  , автомобиль, \n]                       472
[дополнительный,  , образование, \n]                      462
[приобретение,  , автомобиль, \n]                         462
[сделка,  , с,  , автомобиль, \n]                         455
[высокий,  , образование, \n]                             453
[получение,  , дополнительный,  , образование, \n]        447
[образование, \n]                                         447
[получение,  , образование, \n]                           443
[профильный,  , образование, \n]                          436
[получение,  , высокий,  , образование, \n]               426
[заниматься,  , образование, \n]                          412
Name: purpose_lemmas, dtype: int64

### Вывод

Создал новый столбец "purpose_lemmas" и в него сохранил леммы столбца "цель кредита". Исползовал метод aplly и m.lemmatize для того чтобы найти слова в "стандартной" форме чтобы далшье создать категории целей кредита.

### Категоризация данных

In [72]:
def purpose_group (data):
    if 'автомобиль' in data:
        return'автокредит'
    elif 'свадьба' in data:
        return 'свадьба'
    elif 'образование' in data:
        return 'образование'
    elif ('жилье' or  'недвижимость') in data:
            return 'нeдвижимость'
    #else:
        #return 'Неопределено'
    
""""
Возвращает  группу по цели кредита, используя правила:
- 'недвижимость' при наличии слова "жильё" и "недвижимость"
- 'автокредит' при наличии слова "автомобиль"
- 'свадьба' при наличии слова "свадьва"
- 'образавание' при наличии слова "образавание"
    """
    

def age_group(age):
    try:
        if 0 < age < 18:
            return 'дети'
        elif 18 <= age <= 30:
            return 'молодые'
        elif  30 < age <= 64:
            return 'взрозлые'
        elif age > 64:
            return'пенсионеры'
    except:
        return 'Неопределено'

""""
Возвращает возврастную группу по значению возраста age, используя правила:
- 'несовершеннолетние' при значении age < 18 лет
- 'молодые'при значении age более 18 и менее 30, включая 30
- 'взрослые' при значениии age более 30 и менее 64, включая 64
- 'пенсионеры' во всех остальных случаях
"""
    
def income_group (income):
    try:
        if  0 < income < 92000:
            return 'ниже средного'
        elif 9200 <= income <= 184000:
            return 'срений'
        elif income > 184000:
            return 'высокий'
        return 'без дохода'
    except:
        return 'Неопределено'
    
""""
Возвращает группу по значению дохода income, используя правила:
- 'ниже средного' при значении Income от 0 до  92 000
- 'срений"  при значении Income от 92 000 до  184 000
- 'высокий' при значениии income более 200 000
- 'без дохода' во всех остальных случаях
"""
    
data['purpose_group'] = data['purpose_lemmas'].apply(purpose_group)
print(data['purpose_group'].value_counts())
print(purpose_group('NaN'))
print()

data['age_group'] = data['dob_years'].apply(age_group)
print(data['age_group'].value_counts())
print(age_group('NaN'))
print()

data['income_group'] = data['total_income'].apply(income_group)
print(data['income_group'].value_counts())
print(income_group('None'))

нeдвижимость    4473
автокредит      4315
образование     4022
свадьба         2348
Name: purpose_group, dtype: int64
None

взрозлые      16802
молодые        3723
пенсионеры      899
Name: age_group, dtype: int64
Неопределено

срений           11802
высокий           6159
ниже средного     3564
Name: income_group, dtype: int64
Неопределено

### Вывод

Выделял словарь - цельи кредита 'purpose_group', в нем разделили на четыры категории - автокредит, недвижимость, свадьба и образование. Так же словарь с возратсныим группами 'age_group'- несовершенолетние моложе 18 лет, молодые от 18 до 30, взрозлые от 31 до 64 и пенсионеры  старше 64. Третьий словарь уровня дохода 'income_group' - ниже среднего меньше 92000, средный доход от 90000 по 184000 и высокий доход свыше 184000. Выбрал порог 92000 согласно значению Росстата о средной заработной оплате по Москве на 2019. 

При определений функций категоризации применяли методы try и except чтобы избежать ошибок кода при значении вне заданного диапазона.

<font color='blue'>Отлично. Хорошо что есть обработка ошибок через исключения. Единственная придирка, но это скорее на будущее, ссылку бы на Росстат. Просто  "меньше 92к это ниже среднего" меня, как жителя Урала, смутила.  </font>

<font color='green'> Ссылька : https://www.sokolovpro.ru/2019/07/srednyaya-zarplata-v-moskve-na-2019-god-po-dannym-rosstata-svezhie-dannye.html
    
    Мне как житель Санкт_Петербурга тоже смушает.

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [73]:
data['debt_category'] = data['debt']

children_dict= data.pivot_table(index = 'children' ,  columns = 'debt', values ='debt_category' , aggfunc={'debt_category': 'count'}, fill_value = 0)
children_dict.set_axis(['0','1'], axis = 1, inplace =True)
children_dict['ratio'] = children_dict['1'] / (children_dict['0'] + children_dict['1'])

print(children_dict.sort_values(by = 'ratio' , ascending = False))

print()

print(children_dict['ratio'].mean()*100)

              0     1     ratio
children
 20          68     8  0.105263
 4           37     4  0.097561
 2         1861   194  0.094404
 1         4374   444  0.092154
 3          303    27  0.081818
 0        13086  1063  0.075129
-1           46     1  0.021277
 5            9     0  0.000000

7.095077616418255

### Вывод

Из полученного результата можно сделать вывод что заёмщики с детьми худже возвращают кредиты по сравнению с заёмщики без детей. Интересное наблюдение  что среди заёмщиков с детьми лучше всего возвращают те у кого 3 ребенка даже худже тем у кого 1 или 2  ребенка. Это может быть связано с государственной поддержкой которые многодетными семьями получают, тоже уместно обратить внимание на то что количество семьями с одним или с двумя детьми в 10 раз больше.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [74]:
data['family_status_category'] = data['family_status']

family_dict= data.pivot_table(index = 'family_status' ,  columns = 'debt', values ='debt_category' , aggfunc={'debt_category': 'count'}, fill_value = 0)
family_dict.set_axis(['0','1'], axis = 1, inplace =True)
family_dict['ratio'] = family_dict['1'] / (family_dict['0'] + family_dict['1'])

print(family_dict.sort_values(by = 'ratio' , ascending = False))

print()
print(family_dict['ratio'].mean()*100)

                           0    1     ratio
family_status
не женат / не замужем   2539  274  0.097405
гражданский брак        3789  388  0.092890
женат / замужем        11449  931  0.075202
в разводе               1110   85  0.071130
вдовец / вдова           897   63  0.065625

8.045023704531234

Клиенты со семейным статусом "не женат / не замужем" и "гражданский брак" больше всех имеют задолженость по возврату кредитов. А лучше всех возвращает кредит со смейным статусом "вдовец / вдова". Скорее всего такая тендеция обусловлена тем что заемщики в гражданском браке или не женаты/не замужнем

<font color='green'> Скорее всего такая тендеция обусловлена тем что заемщики в гражданском браке или не женаты/не замужнем менее склонее к планам в среднесрочном и долгосрочном перспективе и более склоны к переменам то что приволит к изменению работы, место жительство а следовательно к расходам  </font>

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [75]:
income_dict = data.pivot_table(index = 'income_group' ,  columns = 'debt', values ='debt_category' , aggfunc={'debt_category': 'count'}, fill_value = 0)
income_dict.set_axis(['0','1'], axis = 1, inplace =True)
income_dict['ratio'] = income_dict['1'] / (income_dict['0'] + income_dict['1'])

print(income_dict.sort_values(by = 'ratio' , ascending = False))

print()
print(family_dict['ratio'].mean()*100)

                   0    1     ratio
income_group
срений         10805  997  0.084477
ниже средного   3280  284  0.079686
высокий         5699  460  0.074687

8.045023704531234

### Вывод

Клиенты со средным доходом (доход от 92 000 до 182 000 рублей) имеют худще показатель по возрату кредита. А клиенты с высоким доходом лучше возвращаую кредиты.

<font color='green'> Интересно что тем у кого больше доход худже распологается своими финансами, скорее всего одна из причин недоценивание свой задолжености а следовательно задержки по погащению кредитов </font>

- Как разные цели кредита влияют на его возврат в срок?

In [76]:
purpose_dict = data.pivot_table(index = 'purpose_group' ,  columns = 'debt', values ='debt_category' , aggfunc={'debt_category': 'count'}, fill_value = 0)
purpose_dict.set_axis(['0','1'], axis = 1, inplace =True)
purpose_dict['ratio'] = purpose_dict['1'] / (purpose_dict['0'] + purpose_dict['1'])

print(purpose_dict.sort_values(by = 'ratio' , ascending = False))

print()
print(purpose_dict['ratio'].mean()*100)

                  0    1     ratio
purpose_group
автокредит     3912  403  0.093395
образование    3652  370  0.091994
свадьба        2162  186  0.079216
нeдвижимость   4165  308  0.068858

8.336577760101235

### Вывод

Больше задолженость по возврату кредитов имеют те клиенты которые взяли автокредит. Более надежные кредиты являются те которые были направлены на недвижимость.

<font color='blue'>Хорошо, но вот данные после удаления дубликатов изменятся. Поэтому тут тоже надо будет поправить.</font>

<font color='green'> Автомобиль и образование являются продутами потребления от которых заёмщики могут отказаться при снижений уровня доходов. Так как недвижтмость и свадьбя являются выбором на долгосрочном перспективе </font>

### Шаг 4. Общий вывод

Из полученных резултатов можно сказать что клиент со средным доходом, со статусом"не женат / не замужем" либо "гражданский брак" которые берут кредит с целью "образование" или "автокредит" преставляют больше риск задолжености по возврату кредитов. С другой стороны заёмщики без детей со семеыним статусом "женат / замужем" которые берут кредиты на недвижимость или на свадьбу.

<font color='blue'>Отлично, но выводы это не только пересказ чисел, но и беллетристика по их причинам. Условно Появился ребенок - много расходов скорее из-за этого проблемы с кредитом. Это, конечно, задача скорее для аналитика, но DS должен давать такие заключения. Добавь пожайлуста.</font>

<font color='green'> Добавлял немного беллетристика. Как мне кажется лучше возращают кредиты те у кого мало детей, состоит в браке и верет кредит на недвижимость со ниже средным уровнем дохода. А больше задолженость по возврату кредитов имеют заёмщики которые верут кредит на автомобиль или образование, не состоят в браке либо в гражданском браке со средным уровнем дохоа </font>

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [ ]  файл изучен;
- [ ]  определены пропущенные значения;
- [ ]  заполнены пропущенные значения;
- [ ]  есть пояснение какие пропущенные значения обнаружены;
- [ ]  описаны возможные причины появления пропусков в данных;
- [ ]  объяснено по какому принципу заполнены пропуски;
- [ ]  заменен вещественный тип данных на целочисленный;
- [ ]  есть пояснение какой метод используется для изменения типа данных и почему;
- [ ]  удалены дубликаты;
- [ ]  есть пояснение какой метод используется для поиска и удаления дубликатов;
- [ ]  описаны возможные причины появления дубликатов в данных;
- [ ]  выделены леммы в значениях столбца с целями получения кредита;
- [ ]  описан процесс лемматизации;
- [ ]  данные категоризированы;
- [ ]  есть объяснение принципа категоризации данных;
- [ ]  есть ответ на вопрос "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос "Как разные цели кредита влияют на его возврат в срок?";
- [ ]  в каждом этапе есть выводы;
- [ ]  есть общий вывод.

<font color='blue'>Не плохая работа. Жду доработку с дубликатами, необъявленными значениям и то на что это повлияет. Ну и беллетристики в выводы тоже хотелось бы увидеть. У тебя всё получится, тут немного :)</font>

<font color='green'>  К сожелению я не понял о каких необъявленных значениях идет речь.

<font color='blue'> О медианах, ты это сделел. Давай с дубликатами добьем чтобы не было явных ошибок в работе.

<font color='green'> Спасибо за быстрый ответ. Понял ощтбку и исправил.

<font color="blue"> Вот теперь принято!